.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px 2px #ecd7ba;
    border: 3px solid #032c16;
    background-color: hsla(73, 68%, 42%, 0.856);
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    height: 320px;
    background-color: hsla(246, 66%, 38%, 0.89);
    color: hsl(268, 96%, 38%);
}
