<div class="container">
 <h1 class="rules-heading">Lucky Game</h1>

 <div class="row button-box">
    <div class="col-lg-12">
        <div class="board">
            <div 
            *ngFor="let row of board;let i=index" >
                <div *ngFor="let cell of row;let j=index">
                <button   class="cell"           
                (click)="ShowOption(i,j)"
                [disabled]= "DisabledCheck(i,j)" >
                {{board[i][j]}}
                </button> 
                </div>
            </div>
        </div>

    </div>
 </div>

<div class="row button-box">
    <div class="col-lg-4 col-sm-4">
        <button style="margin: 10px auto;"
        type="button"
        class="btn btn-primary" 
        (click)="GetResult()"
        >Get result</button>
    </div>
    <div class="col-lg-4 col-sm-4">
        <button  
        style="margin: 10px auto;"
        type="button"
        class="btn btn-info"          
        (click)="ResetBoard()" >
        Reset Board
        </button> 
    </div>
    <div class="col-lg-4 col-sm-4"
    *ngIf="IsResultBtnPressed" >
        <button *ngIf = "ans"
        type="button"
        style="margin: 10px auto;"
        class="btn btn-success"
        >
        Won
        </button> 
        <button *ngIf = "!ans"
        type="button"
        style="margin: 10px auto;"
        class="btn btn-danger"
        >
         Lose
        </button> 
    </div>
</div>
</div>
