.rules
{ 
    font-size: 20px;
    color:deeppink;
    font-family: Arial, Garamond, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.rules-heading
{
    font-size: 80px;
    color:rgb(18, 90, 247);
    font-family: cursive, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}